<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hin info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/favicon.ico">


    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">Hin info</a>
        </div>
      </div>
    </nav>

    <div class="news">
      <div class="container">
        <div class="row">
          <article>
            <small>2017-05-19 08:01</small>
            <h4>谷歌人工智能给我调了一杯酒，还说了自己出生的故事</h4>
            <h5 class="content">我今天喝了一杯人工智能调的酒。今天在 Google 的年度开发者大会，演讲...</h5>
          </article>
        </div>
      </div>
    </div>

    <div class="container">
      <footer>
        <p>&copy; 2017 Hin info, Ind.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
