html, body {
    height: 100%;
}

body {
    background-color: #fff;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 1.2em;
    padding-top: 50px;
    padding-bottom: 20px;
}

#main-content {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #eee;
}

.river-thumb {
    width: 100%;
}

.river {
    margin-top: 30px;
}

.border-bottom {
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.homepage1 h3 {
    line-height: 1.6em;
}

.homepage1 h3 a {
    color: inherit;
}

.homepage1 p {
    line-height: 1.4em;
}

.homepage1 p a {
    color: #656565;
}

.homepage2 h3 {
    font-size: 24px;
    line-height: 1.6em;
}

.homepage2 h3 a {
    color: #000;
}

.homepage2 p {
    font-size: 16px;
    line-height: 1.4em;
}

.homepage2 p a {
    color: #000;
}

.flex-item {
    vertical-align: middle;
    color: #656565;
}

.flex-item ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.flex-item ul li span {
    padding-right: 10px;
}